<div class="hero upgrade-hero">
	<style type="text/css">
		.upgrade-hero { padding-bottom: 30px; border-bottom: 1px solid #444; }
		.upgrade-hero h3 { margin-bottom: 6px; }
		.upgrade-hero .description { margin-bottom: 15px; opacity: 0.8; }
		.settings-upgrade .button { padding: 12px 30px; font-size: 95%; font-weight: 500; text-transform: uppercase; }
	</style>

	<h3>Momentum Plus is Here!</h3>
	<p class="description" style="margin-bottom: 15px; opacity: 0.8;" ">Level up your focus with customization, integrations, and new widgets.</p>

	<div class="login-needed">
		<span class="login-needed-title">Please log in</span>
		<span class="login-needed-desc">Go to <strong>General → Login</strong>, then come back and try again. Thanks!</span>
	</div>

	<span class="button button-upgrade">Get Momentum Plus</span>
	<span class="special">Launch Special!<strong style="margin-left: 5px;"><i class="fa fa-sun-o"></i> 33% Off</strong></span>
	<span class="price-line"><span class="price">$1.99/month</span> or <span class="price">$19.99/year</span> (equal to 2 months free!)<br></span>
</div>



<div class="feature-list">
	<style type="text/css">
		.feature-list { margin-top: 30px; }
		.feature-list h4 { margin-bottom: 15px; font-size: 95%; opacity: 0.8; text-transform: uppercase; }
		.feature-list-icon { width: 40px; margin-top: -2px; float: left; font-size: 120%; text-align: center; }
		.feature-list-info { margin-left: 40px; margin-bottom: 20px; }
		.feature-list-info h5 { margin: 0 0 4px; font-size: 92%; opacity: 1; }
		.feature-list-info p { margin-top: 5px; font-size: 13px; line-height: 135%; opacity: 0.7; }
	</style>



	<div class="feature-list-icon"><i class="icon icon-check"></i></div>
	<div class="feature-list-info">
		<h5>Todo Integrations</h5>
		<p>Momentum Plus connects with your favorite task management services! See, update, and create new tasks from Trello, Todoist, Wunderlist, and Google Tasks.</p>
	</div>


	<div class="feature-list-icon"><i class="icon icon-check"></i></div>
	<div class="feature-list-info">
		<h5>Custom Background Photos</h5>
		<p>Light up your day every time you open a new tab. Add your own photos or choose from your favorites or past photos in Momentum.</p>
	</div>


	<div class="feature-list-icon"><i class="icon icon-check"></i></div>
	<div class="feature-list-info">
		<h5>Personalize Font and Color</h5>
		<p>Make Momentum your own by choosing a font and color that suits your personality. Incorporate your own style to motivate, inspire, and bring focus to your day.</p>
	</div>


	<div class="feature-list-icon"><i class="icon icon-check"></i></div>
	<div class="feature-list-info">
		<h5>Custom Quotes</h5>
		<p>Add your favourite quotes to maximize your inspiration. Set the quote of the day to anything you want, anytime.</p>
	</div>


	<div class="feature-list-icon"><i class="icon icon-check"></i></div>
	<div class="feature-list-info">
		<h5>Skip Photo/Quote</h5>
		<p>Not feeling the photo or quote of the day? No problem; a new one is just a refresh away. Cycle between five photos and five quotes per day.</p>
	</div>


	<div class="feature-list-icon"><i class="icon icon-check"></i></div>
	<div class="feature-list-info">
		<h5>Autofocus Mode</h5>
		<p>Set your priorities at the start of the day and Momentum will show you the one thing you need to focus on at a time. Check it off, and the next up todo becomes your focus.</p>
	</div>


	<div class="feature-list-icon"><i class="icon icon-check"></i></div>
	<div class="feature-list-info">
		<h5>Inbox, Today, and Done Lists</h5>
		<p>Keep your todo list clutter free with the Inbox list. Know exactly what you need to do for the day with the Today list. Follow up on what you’ve completed with the Done list.</p>
	</div>


	<div class="feature-list-icon"><i class="icon icon-check"></i></div>
	<div class="feature-list-info">
		<h5>Priority Support</h5>
		<p>Plus subscribers can be assured that their messages, suggestions and requests will be answered promptly by a real human. Your satisfaction is of the utmost importance to us.</p>
	</div>


	<div class="feature-list-icon"><i class="icon icon-check"></i></div>
	<div class="feature-list-info">
		<h5>Early Access</h5>
		<p>Get exclusive early access to exciting new Momentum features. Have a say in the direction of the product. Next early release feature: Notes.</p>
	</div>


	<div class="feature-list-icon"><i class="icon icon-check"></i></div>
	<div class="feature-list-info">
		<h5>Support Momentum</h5>
		<p>Your subscription helps Momentum  Plus subscriptions help sustain Momentum and enable the addition of more features. Thank you for your support — we are incredibly grateful!</p>
	</div>
</div>



<div class="cta">
	<style type="text/css">
		.settings-upgrade .cta { margin: 50px 0 70px; padding: 25px 10px 10px; border-top: 1px solid #444; border-bottom: 1px solid #444; text-align: center; }
		.settings-upgrade .cta .pitch { margin: 0 0 19px; font-size: 125%; line-height: 135%; }
		.settings-upgrade .cta .button { margin-bottom: 0; }
		.settings-upgrade .link { margin: 3px 0 0; padding: 8px; display: inline-block; background: none !important; cursor: pointer; opacity: 0.5; text-decoration: none; -webkit-transition: all 0.1s ease; }
		.settings-upgrade .link:hover { opacity: 0.7; }
	</style>

	<p class="pitch">Upgrade to Momentum Plus today and turn<br>your potential into progress.</p>

	<div class="login-needed">
		<span class="login-needed-title">Please log in</span>
		<span class="login-needed-desc">Go to <strong>General → Login</strong>, then come back and try again. Thanks!</span>
	</div>

	<span class="button button-upgrade">Get Momentum Plus</span><br>
	<a href="https://momentumdash.com/plus?{{campaignDetails}}" class="link">Learn more</a>
</div>



<div class="faq">
	<style type="text/css">
		.settings-upgrade .faq { margin-top: 0; padding: 0 75px; font-size: 90%; opacity: 1; }
		.settings-upgrade .faq:first-child { margin-top: 0; }
		.settings-upgrade .faq:last-child { margin-bottom: 10px !important; }

		.settings-upgrade .faq-question { opacity: 0.9; }
		.settings-upgrade .faq-answer { opacity: 0.7; }
	</style>
	<p>
		<span class="faq-question">What are the available integrations?</span>
		<span class="faq-answer">Currently we integrate with Wunderlist, Google Tasks, Todoist, and Fitbit. Coming soon: Trello and Asana.<!--Github, Google Analytics, Uservoice, Harvest.--></span>
	</p>

	<p>
		<span class="faq-question">I thought Momentum was free?</span>
		<span class="faq-answer">Momentum Free will always be free. We created Momentum Plus to bring more control and functionality to those who desire it, while still keeping the experience simple and focused.</span>
	</p>
</div>
