/* Variables, default settings, color system */

:root {
	--header-height: 55px;
	--hue-modal: 191;
	--dash-width: 100vw; /* modified by dev panel */
	--dash-side-margin: 20px;
	--dash-vertical-margin: 11px;
	--bottom-side-width: auto; /* will be updated with js */
	--top-and-bottom-row-min-height: 60px;
	--safe-zone-padding: 7px;
	--app-padding: 21px;
	--app-dash-padding: 0.625rem;
	--border-radius: 5px;
 	--dash-metric-side-padding: 10px;
	--form-bottom-margin: 26px;
	--form-element-margin: 1.2rem;
	--form-element-margin-small: 0.75rem;
	--form-element-padding: 13px;
	--form-label-bottom-margin: 6px;
	--font-size-greeting: 3.375rem;
	--font-default: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--default-icon-size: 13px;

	/* Dashboard */
	--dash-padding-top: 0px;
	--dash-padding-right: 0px;
	--dash-padding-bottom: 0px;
	--dash-padding-left: 0px;

	/* Colors */
	--color-hue: 0;
	--color-sat: 0%;
	--color-lit: 50%;
	--color-alpha: 1;

	--color-accent: hsl(var(--color-hue) var(--color-sat) var(--color-lit) / var(--color-alpha));
	--color-brand-hsl: 183 81% 35%;
	--color-brand: hsl(var(--color-brand-hsl));
	--color-badge-plus: #4dbf40;
	--color-badge-team: #42c4dc;
	--color-warn: orange;
	--color-error: #e12e11;
	--color-success: #4dbf40;

	--color-mark-hsl: 48 96% 80%;
	--color-mark: hsl(var(--color-mark-hsl));

	/* Animations */
	--a-show-full-duration: 0.3s;
	--a-show-full-curve: ease-out;
	--a-curve: ease;
	--a-fast: 0.15s;
	--a-default: all var(--a-fast) var(--a-curve);

	/* Popups */
	--app-edge-padding: var(--spacing-5);

	/* Border radius */
	--border-radius-0: 0rem;
	--border-radius-1: 0.375rem;
	--border-radius-2: 0.625rem;
	--border-radius-round: 625rem;

	/* Spacing */
	--spacing-0: 0rem;
	--spacing-1: 0.125rem;
	--spacing-2: 0.25rem;
	--spacing-3: 0.375rem;
	--spacing-4: 0.5625rem;
	--spacing-5: 0.9375rem;
	--spacing-6: 1.5rem;
	--spacing-7: 2.375rem;
	--spacing-8: 3.875rem;
	--spacing-9: 6.25rem;
	--spacing-10: 10.125rem;
	--spacing-11: 16.375rem;
	--spacing-12: 26.5625rem;

	/* Shadows */
	--shadow-1: 0px 2px 8px 0px rgba(0 0 0 / 0.25);
	--shadow-2: 0px 8px 25px 0px rgba(0 0 0 / 0.30);
	--shadow-3: 0px 15px 50px 0px rgba(0 0 0 / 0.30);
	--shadow-dash: 0 0 25px 0 rgba(0 0 0 / 0.35);

	/* Fonts */
	--font-clock: 500 9.5rem var(--font-default);
	--font-h1: 500 3.5rem var(--font-default);
	--font-h2: 500 3rem var(--font-default);
	--font-h3: 500 2.5rem var(--font-default);
	--font-xxl: 500 1.875rem var(--font-default);
	--font-xl: 500 1.5rem var(--font-default);
	--font-xl-bold: 600 1.5rem var(--font-default);
	--font-l: 500 1.125rem var(--font-default);
	--font-m: 500 1rem var(--font-default);
	--font-m-bold: 600 1rem var(--font-default);
	--font-m-copy: 400 1rem var(--font-default);
	--font-s: 500 0.875rem var(--font-default);
	--font-s-bold: 600 0.875rem var(--font-default);
	--font-xs: 500 0.8125rem var(--font-default);
	--font-xs-bold: 700 0.8125rem var(--font-default);
	--font-xs-label: 600 0.8125rem var(--font-default);
	--font-xxs: 600 0.625rem var(--font-default);
	--font-xxs-label: 700 0.625rem var(--font-default);
}

/* Themes */
.light, .dark, .light-full, .dark-full, .inverted-system-theme-override {
	/* To consider: where is color-bg for light/dark getting set and can we make it more clear here? i.e. --color-bg: var(--color-accent); */
	--color-text: hsl(var(--color-base));

	--opacity-stop-1: 0.07;
	--opacity-stop-2: 0.12;
	--opacity-stop-3: 0.3;
	--opacity-stop-4: 0.5;
	--opacity-stop-5: 0.7;
	--opacity-stop-6: 0.85;

	--color-stop-1: hsla(var(--color-base) / var(--opacity-stop-1));
	--color-stop-2: hsla(var(--color-base) / var(--opacity-stop-2));
	--color-stop-3: hsla(var(--color-base) / var(--opacity-stop-3));
	--color-stop-4: hsla(var(--color-base) / var(--opacity-stop-4));
	--color-stop-5: hsla(var(--color-base) / var(--opacity-stop-5));
	--color-stop-6: hsla(var(--color-base) / var(--opacity-stop-6));

	--color-accent-safe: var(--color-text);
	--color-button: hsla(var(--color-base) / 0.3);
	--color-button-hover: hsla(var(--color-base) / 0.4);
	--color-button-active: hsla(var(--color-base) / 0.5);
	--color-icon: var(--color-text);
	--border-color-low: var(--color-stop-1);
	--border-color: var(--color-stop-2);
	--hover-bg: var(--color-stop-2);
	--active-bg: var(--color-stop-3);
}

.dark, .dark-full, .light .inverted-system-theme-override {
	--color-base: 0 0% 100%;
	--color-mark: hsla(var(--color-mark-hsl) / var(--opacity-stop-3));

	--filter-dark-brightness: none;
	--filter-dark-invert: invert(1);
	--unfocused-app-brightness: 70%;

	--primary-button-color-text: #fff;
}

.light, .light-full, .dark .inverted-system-theme-override {
	--color-base: 0 0% 13%;

	--opacity-stop-1: 0.06;
	--opacity-stop-2: 0.11;

	--filter-dark-brightness: brightness(13%);
	--filter-dark-invert: none;
	--unfocused-app-brightness: 80%;

	--primary-button-color-text: var(--color-text);
}

/* Dark mode */
.dark-full, .dark .brand-full-override, .light .inverted-system-theme-override {
	--color-bg-base: 0 0% 6%;
	--color-bg: hsl(var(--color-bg-base) / 0.925);
	--color-accent-highlight: hsl(0 0% 20%);
}

/* Light mode */
.light-full, .light .brand-full-override, .dark .inverted-system-theme-override {
	--color-bg-base: 0 0% 100%;
	--color-bg: hsl(var(--color-bg-base) / 0.98);
	--color-accent-highlight: hsl(0 0% 93%);

	--primary-button-color-text: #fff;
}

.dark-full, .light-full, .brand-full-override, .inverted-system-theme-override {
	--color-button: hsla(var(--color-hue) var(--color-sat) var(--color-lit) / 0.95);
	--color-button-hover: hsla(var(--color-hue) var(--color-sat) var(--color-lit) / 0.85);
	--color-button-active: hsla(var(--color-hue) var(--color-sat) var(--color-lit) / 0.75);
}

/* Custom & Photo Match Themes */
.custom, .photo-match {
	--color-bg-base: var(--color-hue) var(--color-sat) var(--color-lit);
	--color-bg: var(--color-accent);
	--color-mark: hsla(var(--color-mark-hsl) / var(--opacity-stop-3));
}

/* Brand Colour Theme Overrides */
.brand-full-override {
	--color-button: var(--color-brand);
	--color-button-hover: hsla(var(--color-brand-hsl) / var(--opacity-stop-6));
	--color-button-active: hsla(var(--color-brand-hsl) / var(--opacity-stop-5));
}


/* Reset (https://www.joshwcomeau.com/css/custom-css-reset) */
*, *:before, *:after { box-sizing: border-box; }
* { margin: 0; overflow-wrap: break-word; }
html, body { height: 100%; }
input, button, textarea, select { font: inherit; }


/* Base */
html { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); } /* disables highlight when tapping on mobile */
body { background: #fff; color: #fff; font-family: var(--font-default); font-size: 100%; overflow: hidden; text-shadow: 0px 1px 5px rgba(0,0,0,0.1); -moz-user-select: none; -webkit-user-select: none; user-select: none; }
@media (prefers-color-scheme: dark) {
	body { background: #212121; }
}
ul, ol { padding: 0; list-style: none; }
a { color: #fff; outline: none; text-decoration: none; }
input, textarea { background: none; color: #fff; font-size: 100%; }
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { opacity: 0.6; color: var(--app-text-color); }
textarea { resize: none; }
i { font-style: normal; }
img { vertical-align: top; }
hr { border: 1px var(--color-stop-5) solid; }

::-webkit-scrollbar { height: 13px; width: 13px; }
::-webkit-scrollbar-thumb { background-clip: padding-box; background-color: var(--color-stop-3); border: 3px solid rgba(0,0,0,0); border-radius: 7px; }

/* Hide silly up/down controls on input type=number */
input[type=number].hide-controls::-webkit-outer-spin-button, input[type=number].hide-controls::-webkit-inner-spin-button { -webkit-appearance: none; }
input[type=number].hide-controls { -moz-appearance: textfield; }

/* Common */

.button { padding: 10px; display: inline-flex; align-items: center; justify-content: center; gap: 5px; opacity: 1; background: none; border-radius: var(--border-radius); color: #fff; cursor: pointer; font-size: 0.875rem; outline: none; transition: opacity 0.1s var(--a-curve); /*border: 2px solid rgba(255,255,255,0.7);*/ }
	/*.button:hover { background: rgba(255,255,255,0.2); border-color: white; }*/
	/*.button:hover:active { transition-duration: 0s; }*/
.button :is(.icon-next, .icon-back) { --icon-size: 11px; margin-top: 1px; }

.icon { height: var(--icon-size, var(--default-icon-size)); width: var(--icon-size, var(--default-icon-size)); fill: var(--color-icon); }
	.app-dash .icon, .dash-icon { --color-icon: #fff; } /* On-dash override */
	.app .icon { --color-icon: revert; }

	.back .icon-left { height: auto; }
	.icon-cancel { height: 9px; }

	.error-icon { height: 12px; width: 12px; display: inline-block; background: var(--color-error); border-radius: 100%; color: #fff; cursor: pointer; font-size: 11px; font-weight: bold; line-height: 12px; text-align: center; }

		.error-icon:hover { background: var(--color-text); color: black; } /*TODO come back to this*/

		.error-icon.hidden { display: none; }

/* Adds a shadow behind the element - used for metrics */
.add-shadow:before { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: -1; opacity: 0.12; background: #000; border-radius: 40%; content: ''; filter: blur(25px); }

.badge { margin-left: 4px; padding: 2px 3px; background: var(--color-stop-2); border-radius: 2px; color: var(--color-stop-4); font-size: 8px; font-weight: 600; text-transform: uppercase; vertical-align: 7%; }
	.has-team .badge-plus { display: none; }

	h3 .badge, h4 .badge { vertical-align: 18%; }
	.button:not(.button-clear) .badge { margin-left: 3px; background: rgba(255 255 255 / 20%); color: white; vertical-align: 20%; }

iframe#analytics-identify { display: none; }

/* Utility classes */

.u--hide { display: none; }
.u--right { float: right; }
.u--text-center { text-align: center; }
.u--no-hover { background: none !important; }
.u--no-opacity { opacity: 0; }
.u--pafill { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.u--flex-center { display: flex; flex-direction: column; align-items: center; justify-content: center; }
.u--no-transition { transition: none !important; }
.u--fadeable { transition: opacity 0.5s var(--a-curve); } /* give to an element you are going to fade in or out with mFadeIn or mFadeOut  */
.u--flex-grow { flex-grow: 1; }
.u--pointer { cursor: pointer; }
.u--strikeout { text-decoration: line-through; }
.u--touch-only { display: none !important; }
.u--touch-only-flex { display: none !important; }
.u--mobile-only { display: none !important; }
.u--mobile-only-flex { display: none !important; }
.u--mobile-only-inline { display: none !important; }
.u--no-pointer-events { pointer-events: none !important; }
.u--text-no-wrap { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }


/* m-function classes */

.m-hide { opacity: 0 !important; }
.m-hide-display  { display: none !important; }
.m-hide-visibility { visibility: hidden !important; }


/* General blur */

.blur .background { filter: blur(5px); transform: scale(1.07); }
.blur .apps { opacity: 0 !important; }


/* Lines between list items w/ hover interaction */

.app-list-item-lines-between::before { content: ''; width: calc(100% - var(--app-padding) * 2); height: 0.0625rem; display: block; margin: auto; background-color: var(--color-stop-1); }
.app-list-item-lines-between:first-child::before { content: none; }
.app-list-item-lines-between:hover + .app-list-item-lines-between::before { opacity: 0; }
.app-list-item-lines-between:hover::before { opacity: 0; }


/* Overlays */

.overlay { position: absolute !important; top: 0; right: 0; bottom: 0; left: 0; display: flex; flex-direction: column; align-items: center; justify-content: center; }
/* absolute so that it shifts over with the dashboard when the dev panel is open */

	/* Drop Image Overlay */
	.message-overlay { z-index: 1000000; display: none; background: rgba(0,0,0,0.5); font-size: 2rem; }
		.show-drop .message-overlay, .show-otl .message-overlay { display: flex; }
		.drop { display: none }
			.show-drop .drop { display: block; }
			.message-overlay .badge-plus { margin-top: -3px; margin-left: 2px; padding: 2px 6px 1px; font-size: 45%; vertical-align: middle; }

		.otl { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 10; display: none; justify-content: center; align-items: center; text-align: center; }
			.show-otl .otl { display: flex; }
			.otl .error { display: none; }
				.otl .subheading { font-size: 1rem; }
				.otl .error.show { display: flex; flex-direction: column; }

	/* Loading Screen */
	.loading-overlay { z-index: 0; }
		.loading-logo { height: 4.5rem; display: block !important; opacity: 0; animation: fadein 1s linear 1s forwards; } /* display: block !important needed for a firefox fix where the svg was showing before the stylesheet was loaded */


/* Quote and Background Skip & Favourites Icons */
.control-skip, .mantra-skip .icon-container { overflow: hidden; }
	.icon-container.active .icon-skip, .control-skip.active .icon-skip, .dropdown-list-item.active .icon-skip { animation: skip .7s infinite; transform-origin: 46% 73%; }

	.icon-heart .fill { opacity: 0; transform: scale(0.5); transform-origin: 50% 49%; transition: transform 0.25s cubic-bezier(.51,.23,.6,1.9), opacity 0.25s ease; }
		.favorite.active .icon-heart .fill, .dropdown-list-item.active .icon-heart .fill { opacity: 1; transform: scale(1); }

	@keyframes skip {
		from { transform: rotate(0); }
		to { transform: rotate(360deg); }
	}

.icon-dash-heart { opacity: 0; transform: scale(0.5); }
	.active > .icon-dash-heart { opacity: 1; transform: scale(1); transition: transform 0.25s cubic-bezier(.51,.23,.6,1.9), opacity 0.25s ease; }
.icon-dash-heart-empty { opacity: 1; }
	.active > .icon-dash-heart-empty { opacity: 0; transition: opacity 0.5s var(--a-curve); }

/* Apps */

.app-container { --app-container-transition: opacity 0.5s ease; position: relative; display: inline-block; transition: var(--app-container-transition); }
	.show-full-overlay .app-container { transition-duration: var(--a-show-full-duration); transition-timing-function: var(--a-show-full-curve); }

	 /* Used for fullscreen/appreciation modes, initial fade in, & onboarding */
	.app-container.hide-apps-no-fade .hide-apps-fade { transition: var(--app-container-transition); }
	.apps.hide-apps .app-container:not(.hide-apps-no-fade), .apps.hide-apps .app-container.hide-apps-no-fade .hide-apps-fade { opacity: 0; pointer-events: none; }
		.apps .app-container.show-anyway:not(.hide-apps-no-fade), .apps .app-container.show-anyway.hide-apps-no-fade .hide-apps-fade { opacity: 1; pointer-events: auto; }

	.bottom-right .app-container { text-align: right; }


/* On dash */

.app-dash { display: flex; flex-direction: column; position: relative; }
	.app-dash.has-multiple { display: flex; align-items: flex-start; justify-content: flex-end; flex-wrap: wrap; }

    /* Addresses chrome bug where negative order makes element go behind others */
    .todo { order: 3; --nipple-displacement: 21px; }
    .notes { order: 2; }


.toggle { padding: 0 var(--app-dash-padding); position: relative; display: inline-block; color: rgba(255,255,255,0.85); cursor: pointer; font-size: 106.25%; font-weight: 500; line-height: var(--top-and-bottom-row-min-height); transition: color 0.1s ease, text-shadow 0.1s ease, var(--app-container-transition); }
	.toggle:hover { color: rgba(255,255,255,1); }
	.toggle:active { color: rgba(255,255,255,0.9); transition-duration: 0s; }
	.show-fade-in .toggle { color: rgba(255,255,255,1); }


.app-dash-icon { padding: 1.0625rem 0.625rem !important; gap: 0.3125rem; position: relative; display: inline-flex; flex-direction: column; justify-content: center; align-items: center; color: rgba(255,255,255,1); cursor: pointer; font-size: 0.8125rem; font-weight: 400; line-height: 1rem; vertical-align: top; /* Do not put transition here. Transitions are on children below */ }

	/* Hover transition occurs on the child elements so that tr-duration can be shorter than when fading out all apps */
	.app-dash-icon .icon, .app-dash-icon svg { --icon-size: 24px; }
		.soundscapes .app-dash-icon .icon { --icon-size: 26px; }

	.app-dash-icon > svg, .app-dash-icon-label { opacity: 0.85; transition: opacity 0.1s ease; }
		.app-dash-icon:active > svg, .app-dash-icon:active > .app-dash-icon-label { opacity: 0.85; transition-duration: 0s; }
		.app-dash-icon:hover > svg, .app-dash-icon:hover > .app-dash-icon-label { opacity: 1; }

		.app-dash-icon > svg { height: var(--icon-size); width: var(--icon-size); fill: #fff; }

		.app-dash-icon-label { display: inline-block; }


.dash-button { --h-padding: 23px; --v-padding: 9px; padding: var(--v-padding) var(--h-padding) calc(var(--v-padding) + 1px); display: flex; align-items: center; justify-content: center; background: rgba(0,0,0,var(--opacity-stop-2)); border: 2px solid rgba(255, 255, 255, var(--opacity-stop-6)); border-radius: 50px; box-shadow: 0 0 12px rgba(0,0,0,0.15); color: #fff; cursor: pointer; font-size: 0.9375rem; font-weight: 500; outline: none; transition: background-color 0.1s ease; gap: 5px; }
	.dash-button:hover { background: none; }
	.dash-button:hover:active { background: rgba(255,255,255,0.15); transition-duration: 0s; }
	.dash-button.dash-button-primary { background: rgba(255,255,255,0.1); }
	.dash-button.dash-button-primary:hover { background: rgba(255,255,255,0.15); }
	.dash-button.dash-button-primary:hover:active { background: rgba(255,255,255,0.2); }
	.dash-button.dash-button-neutral { background: rgba(255,255,255,0); color: rgba(255, 255, 255, var(--opacity-stop-6))}
	.dash-button.dash-button-neutral:hover { background: rgba(255,255,255,0.05); }
	.dash-button.dash-button-neutral:hover:active { background: rgba(255,255,255,0.1); }
	.dash-button.dash-button-link { background: none; box-shadow: none !important; text-shadow: 0 0 12px rgba(0,0,0,0.15); border: none; padding: unset; }
	.dash-button.dash-button-link:hover { color: rgba(255, 255, 255, 0.9); background: none; }
	.dash-button.dash-button-link:hover:active { color: rgba(255, 255, 255, 0.95); background: none; }

.dash-button :is(.icon-next, .icon-back) { --icon-size: 11px; margin-top: 1px; }


/* App (popup) */

.app-wrapper { position: relative; z-index: 1; display: none; opacity: 0; transition: var(--a-default); }
	.app-wrapper.focused { z-index: 4; }

	.top-left .app-wrapper, .top-right .app-wrapper { z-index: 2; transform: translateY(-4px); }
	.bottom-left .app-wrapper, .bottom-right .app-wrapper { transform: translateY(5px); }

	.show > .app-wrapper { display: block; }
	.show-fade-in > .app-wrapper { opacity: 1; transform: none; }  /* use none instead of translateY(0) to prevent overriding of position: fixed boundaries (this still allows transitioning) */

.bg.focused { z-index: 4 !important; }
.bg.unfocused  { filter: brightness(var(--unfocused-app-brightness)) blur(2px); }

:is(.app, .bg) { background: var(--color-bg); color: var(--color-text); text-shadow: none; box-shadow: 1px 1px 5px 0 rgba(0,0,0, var(--opacity-stop-3)); }
.app { max-height: 100vh; max-width: calc(100vw - var(--app-edge-padding) * 2); min-width: 200px; padding: var(--app-padding); position: absolute; z-index: 2; border-radius: var(--border-radius); overflow-x: hidden; overflow-y: auto; text-align: left; transition: var(--a-default); }
	.app.reset-app-styles { all: unset; }

	.top-left .app { left: var(--app-edge-padding); }
	.top-right .app { right: var(--app-edge-padding); }
	.bottom-right .app { bottom: 0; right: 0; }
	.bottom-left .app { bottom: 0; left: var(--app-edge-padding); }

	.app.show { display: block; }
	.app.immediate-show { display: block; opacity: 1; transform: scale(1) translateY(0); }
	.app.animated { transition: all 0.2s ease-out; }

	/* Keeping .app out of these declarations so it's not as cumbersome to override in apps */
	.header { height: var(--header-height); margin-bottom: 0; display: flex; align-items: center; justify-content: space-between; }

		.header .title-wrapper { display: flex; align-items: center; }
			.header .app-icon { --icon-size: 17px; margin-right: 8px; opacity: 0.6; }

			.header .title { opacity: 0.9; font-size: 1rem; }

		.header .icon-wrapper { height: 100%; min-width: 17px; padding: 0 4px 0 3px; font: var(--font-default); }
			.header .icon-wrapper i { height: auto; min-width: 19px; margin-top: -1px; text-align: center; }

		.header .back { padding-right: 12px; padding-left: calc(var(--app-padding) - 3px); font-size: 0.8125rem; }

		.header .controls { height: 100%; margin-left: auto; position: relative; display: flex; text-align: right; }
			.header .control { height: 100%; }
					.header .control:last-child .icon-wrapper { padding-right: calc(var(--app-padding) - 3px); }

	/* General internal content */

	:is(.app, .bg) a { color: var(--color-text); }
	:is(.app, .bg) p { padding: 1.5em 0; }

	:is(.app, .bg) .input-group { margin-bottom: 21px; }
	/* Using :where does not change the specificity of this rule */
	 :is(.app, .bg):where(:not(.reset-app-styles)) :is(label, .label), .switch-click.in-form .switch-label { display: block; opacity: 0.7; font-size: 0.8125rem; font-weight: 600; text-transform: uppercase; }
	 :is(.app, .bg):where(:not(.reset-app-styles)) input, :is(.app, .bg):where(:not(.reset-app-styles)) select, :is(.app, .bg):where(:not(.reset-app-styles)) textarea { width: 100%; padding: 6px 1px; border: 0; border-bottom: 2px solid var(--color-stop-3); -webkit-border-radius: 0; border-radius: 0; color: var(--color-text); font-size: 100%; outline: none; transition: border 0.1s var(--a-curve); /* -webkit-border-radius: for mobile */ }
	 :is(.app, .bg):where(:not(.reset-app-styles)) input:hover, :is(.app, .bg):where(:not(.reset-app-styles)) select:hover, :is(.app, .bg):where(:not(.reset-app-styles)) textarea:hover { border-bottom-color: var(--color-stop-5); }
	 :is(.app, .bg):where(:not(.reset-app-styles)) input:focus, :is(.app, .bg):where(:not(.reset-app-styles)) select:focus, :is(.app, .bg):where(:not(.reset-app-styles)) textarea:focus { border-bottom-color: var(--color-stop-6); }


	.form-row { margin-bottom: var(--form-element-margin); }
	.form-margin-small { margin-bottom: var(--form-element-margin-small); }

	:is(.app, .bg) .select-wrapper { margin-right: 3px; position: relative; display: inline-block; }
		:is(.app, .bg) .select-wrapper:before { --size: 20px; height: var(--size); width: var(--size); position: absolute; top: 6px; right: -3px; z-index: -1; opacity: 0.8; background: var(--svg-select-icon-url) no-repeat right 50%; background-size: var(--size); content: ''; }
			.light { --svg-select-icon-url: url('/img/icon-down-light.svg'); } /* Move to component */
			.dark { --svg-select-icon-url: url('/img/icon-down.svg'); }
		:is(.app, .bg) select { padding-right: 16px !important; -moz-appearance: none; -webkit-appearance: none; background: none; color: var(--color-text); }
			:is(.app, .bg) option { color: #000; } /* Necessary for Windows Chrome fix for option text being white on white in dark theme */


	:is(.app, .bg) .button { --h-padding: 24px; padding: 8px var(--h-padding) 8px; background: var(--color-button); border: none; border-radius: 50px; color: var(--color-text); cursor: pointer; font-size: 0.875rem; font-weight: 500; text-shadow: none; }
		:is(.app, .bg) .button:hover { background: var(--color-button-hover); }
		:is(.app, .bg) .button:hover:active { background: var(--color-button-active); }
		:is(.app, .bg) .button:not(.button-neutral):not(.button-secondary):not(.button-tertiary):not(.button-link) { --color-text: var(--primary-button-color-text); }
		:is(.app, .bg) .button.button-neutral { --color-button: var(--color-stop-2); --color-button-hover: hsla(var(--color-base) / 0.2); --color-button-active: var(--color-stop-3); }
		:is(.app, .bg) .button.button-tertiary { --color-button: transparent; --color-text: var(--color-stop-4); --color-button-hover: var(--color-stop-1); --color-button-active: var(--color-stop-2); box-shadow: inset 0 0 0 1.5px var(--color-stop-2); }
		:is(.app, .bg) .button.button-link { --color-text: var(--color-button); background: unset; padding: unset; font-size: 0.9375rem; font-weight: 700; }
		:is(.app, .bg) .button.button-link:hover { --color-text: var(--color-button-hover); background: unset; }
		:is(.app, .bg) .button.button-link:hover:active { --color-text: var(--color-button-active); background: unset; }

	:is(.app, .bg) .button-clear { padding: var(--padding, 5px); display: flex; gap: 5px; align-items: center; background: none !important; color: var(--color-text) !important; cursor: pointer; font-size: 0.8125rem; font-weight: 500; }
		:is(.app, .bg) .button-clear .button-label { opacity: 0.7; transition: 0.1s var(--a-curve); }
			:is(.app, .bg) .button-clear:hover .button-label { opacity: 0.9; }
			:is(.app, .bg) .button-clear:hover:active .button-label { opacity: 1; transition-duration: 0s; }

	:is(.app, .bg) .button-small { padding: 5px 16px; font-size: 0.8125rem; }
		:is(.app, .bg) .button-small .icon-plus { height: 9px; margin-right: 1px; margin-left: -3px; }

	.app-placeholder { overflow: initial; }
		.app-placeholder-loading { height: 100%; width: 100%; display: flex; align-items: center; justify-content: center; opacity: 0.8; }


	/* Message displays */
	/* the message bar the pushes the rest of the content down/up */
	:is(.app, .bg) .message { margin-bottom: 5px; padding: 6px 15px; display: block; background: var(--color-accent-highlight); font-size: 81.25%; text-align: center; }
		:is(.app, .bg) .message .title { opacity: 0.5; font-size: 100%; }
		:is(.app, .bg) .message .action { padding: 4px; opacity: 0.7; cursor: pointer; }
			:is(.app, .bg) .message .action:hover { opacity: 1; }
			:is(.app, .bg) .message .action:active { opacity: 0.8; }

			:is(.app, .bg) .message .button { background: var(--color-stop-3); }
				:is(.app, .bg) .message .button:hover { background: var(--color-stop-4); }


	/* e.g. the bubble loading overlay when switching to a previously cached todo list */
	:is(.app, .bg) .message-overlay { padding: 8px 12px; position: absolute; top: 0; left: 50%; display: flex; flex-direction: row; align-items: center; justify-content: center; background: var(--color-accent-highlight); border-radius: 50px; font-size: 13px; transform: translateX(-50%); }
		:is(.app, .bg) .message-overlay.centered { display: flex; flex-direction: row; align-items: center; justify-content: center; }

	/* e.g. the initial Todo loading state */
	:is(.app, .bg) .message-fill { position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: flex; flex-direction: row; align-items: center; justify-content: center; opacity: 0.7; font-size: 14px; }

	/* e.g. the initial Links loading state */
	:is(.app, .bg) .message-empty { padding: calc(var(--app-padding) - 3px); display: none; opacity: 0.7; font-size: 14px; text-align: center; }

		:is(.app, .bg) .message .loading-icon { opacity: 0.85; vertical-align: -7%; }
		:is(.app, .bg) .message .loading-label { opacity: 0.7; }

	/* How is this different from message? */
	/* What about a loading message? */
	:is(.app, .bg) .error-message { height: 26px; margin-bottom: 10px; display: none; opacity: 0.73; background: var(--color-accent-highlight); font-size: 75%; line-height: 26px; text-align: center; }



	/* Empty state */
	.empty { min-height: 150px; padding: var(--app-padding); position: relative; display: none; flex-direction: column; align-items: center; justify-content: center; text-align: center; }
		.is-empty .empty { display: flex; }

		.empty .title { margin: -3px 0 6px; opacity: 0.65; font-size: 1rem; font-weight: 500; }
		.empty .description { margin-bottom: 16px; opacity: 0.45; font-size: 0.875rem; }

		.empty .clickable { cursor: pointer; }
			.empty .clickable:hover { opacity: 0.8; }

		.empty .empty-toggle { transition: opacity 0.3s var(--a-curve); }

	.is-empty-has-pinned { min-height: 15px; }

	/* Multi-columns */
	.subviews-wrapper { overflow: hidden; }
		.subviews { position: relative; display: flex; align-items: flex-start; transition: transform 0.3s var(--a-curve), height 0.3s var(--a-curve); }
		.subviews.first { transform: none; }
		.subviews.second { transform: translateX(-25%); }
		.subviews.third { transform: translateX(-50%); }
		.subviews.fourth { transform: translateX(-75%); }
			.subview { max-height: inherit; position: absolute; display: inline-block; vertical-align: top; }

	.subview:first-child { right: 25%; left: 0; }
 	.subview:nth-child(2) { right: 50%; left: 25%; }
	.subview:nth-child(3) { right: 75%; left: 50%; }
 	.subview:nth-child(4) { right: 100%; left: 75%; }

	.subviews.first .subview:first-child,
	.subviews.second .subview:nth-child(2),
	.subviews.third .subview:nth-child(3),
	.subviews.fourth .subview:nth-child(4) { position: relative; }


	.list-view, .detail-view { transition: all 0.2s var(--a-curve); }


	/* Action icons */
	.icon-wrapper { --padding: 5px; --icon-size: var(--default-icon-size); padding: var(--padding); display: flex; flex-direction: column; align-items: center; justify-content: center; cursor: pointer; }

		.icon-wrapper:after { --icon-wrapper-size: 25px; height: var(--icon-wrapper-size); width: var(--icon-wrapper-size); position: absolute; z-index: 0; display: block; border-radius: 50px; content: ''; }
			.icon-wrapper:hover:after, .has-icon:hover .icon-wrapper:after , .has-icon.hover .icon-wrapper:after { background: var(--hover-bg); }
			.icon-wrapper:hover:active:after, .has-icon:hover:active .icon-wrapper:after { background: var(--active-bg); }
			.u--mobile-show-bg:after { background: var(--color-stop-1); }

		.icon-wrapper .icon { opacity: 0.7; }
			.icon-wrapper:hover .icon, .has-icon:hover .icon-wrapper .icon, .mobile-close .icon { opacity: 0.8; }
			.icon-wrapper:hover:active .icon, .has-icon:hover:active .icon-wrapper .icon { opacity: 1; }
			.active .icon-wrapper .icon { opacity: 0.75 !important; }

		/* list controls, e.g. metrics */
		.list-controls { flex: 0 0 auto; display: flex; }

			.list-control { height: 100%; padding: 0 3px; display: flex; align-items: center; opacity: 0; cursor: pointer; }
				.list-item:hover .list-control { opacity: 0.4; }
				.list-item .list-control:hover { opacity: 0.8; }
				.list-item .list-control:hover:active, .list-item .list-control.active { opacity: 1; }


	/* Footer inputs */
	.footer-input { position: relative; overflow: hidden; }
		.footer-input input { width: 100%; padding: 8px var(--app-padding) calc(var(--app-padding) - 3px); display: block; opacity: 0.75; border: none; font-size: 1rem; overflow: hidden; }
			.footer-input input::-webkit-input-placeholder { text-transform: capitalize; }
			.footer-input input::-moz-placeholder { text-transform: capitalize; }



	.toggle-options { margin-top: -2px; margin-right: -3px; float: right; font-size: 0.8125rem; font-weight: 600; text-align: right; }

		.toggle-option { padding: 3px; display: inline-block; }
			.toggle-option .toggle-label { opacity: 0.5; transition: all 0.1s var(--a-curve); }
				body:not(.touch) .toggle-option .toggle-label:hover { opacity: 0.8; }
				.toggle-option .toggle-label:hover:active, .toggle-option.active .toggle-label { opacity: 1 !important; }

		.toggle-divider { opacity: 0.3; font-weight: normal; }


	/* Toggle switch */
	.toggle-slider { height: 20px; width: 33px; position: relative; background: var(--color-stop-3); border-radius: 30px; float: right; }
		.has-toggle:hover .toggle-slider { background: var(--color-stop-4); }

		.toggle-switch { height: 12px; width: 12px; position: relative; top: 4px; left: 3px; display: inline-block; transform-origin: 50% 50%; transition: transform var(--a-fast) var(--a-curve); vertical-align: top; }
			.toggle-switch circle { opacity: 0.7; fill: #fff; }

		/* On */
		.on:not(.disabled) .toggle-slider { background: hsl(114, 50%, 50%) !important; }
			.on:not(.disabled).has-toggle:hover .toggle-slider { background: hsl(114, 60%, 66%) !important; }

			.on:not(.disabled) .toggle-switch { transform: translateX(14px) scale(1.25); }
				.on:not(.disabled) .toggle-switch circle { opacity: 1 !important; }

		.slide-toggle.disabled .toggle-slider { opacity: 0.5; }




	/* Dropdowns */

	.dropdown { position: relative; display: none; background: var(--color-accent-highlight); border-radius: var(--border-radius); box-shadow: 0px 1px 8px rgba(0,0,0,0.25); overflow: hidden; }
		.active > .dropdown { display: block; }
		.dropdown, .dropdown-list, .dropdown-detail { transition: transform 0.25s var(--a-curve), height 0.25s var(--a-curve); }

		.dropdown-detail { position: absolute; top: 0; right: 0; left: 0; opacity: 1; transform: translateX(100%); }
			.dropdown .dropdown-detail-title { margin: 0; font-size: 80% !important; }

		.dropdown.show-detail .dropdown-list { opacity: 1; transform: translateX(-100%); }
		.dropdown.show-detail .dropdown-detail { opacity: 1; transform: translateX(0); }

		.dropdown-list { padding: 6px 0; position: relative; z-index: 0; }
			.dropdown-list-item { max-width: 280px; padding: 6px calc(var(--app-padding) - 6px); position: relative; display: flex; align-items: center; cursor: pointer; font-size: 0.875rem; font-weight: 400; line-height: normal; }
			.dropdown-list-item.has-toggle { justify-content: space-between; }
				.dropdown-list-item:hover, .dropdown-list-item.hover { background: var(--hover-bg); }
				.dropdown-list-item:hover:active, .dropdown-list-item.hover.active { background: var(--active-bg); }

				.dropdown-list-icon-wrapper { width: 15px; margin-right: 8px; margin-left: -1px; display: inline-flex; align-items: center; justify-content: center; }
					.dropdown-list-icon { opacity: 0.6; }
						.dropdown-list .active .dropdown-list-icon, .toast-list .active .dropdown-list-icon { opacity: 1; }
					.dropdown-list .app-icon { --icon-size: 15px; opacity: 0.7; }

				.dropdown-list-label-wrapper { width: max-content; display: flex; align-items: center; }
				.dropdown-list-item .badge { margin-left: 7px; }

				/* Item description */
				.dropdown-list-item.has-description { display: block; }
					.has-description .dropdown-list-label-wrapper { margin-top: 1px; display: flex; }
						.has-description .badge { margin: 1px 0 0 8px; }
					.has-description .dropdown-list-description { margin: 4px 0 -2px; display: block; opacity: 0.7; font-size: 0.75rem; line-height: 1.2; }

			/* Toggleable items */
			.toggleable .icon { opacity: 0.35; }
				.toggleable.active .icon { opacity: 1; }

		.dropdown .line { height: 1px; margin: 5px 0; padding: 0; background: var(--color-stop-2) !important; cursor: default; }

		.dropdown .toggle-options { margin-top: -4px; margin-right: 0; float: right; font-size: 12px; font-weight: 600; text-align: right; }

		.dropdown .toggle-slider { height: 17px; width: 28px; margin-top: -1px; margin-bottom: -1px; margin-left: 15px; right: -2px; }
			.dropdown .toggle-slider:before { opacity: 0.8; }

			.dropdown .toggle-switch { --size: 11px; height: var(--size); width: var(--size); top: 3px; }
				.dropdown .on .toggle-switch { transform: translateX(10px) scale(1); }

		/* Multi-column dropdowns */
		.dropdown .menu-item-color { width: 3px; margin-right: 10px; margin-left: -13px; display: inline-block; }
		.dropdown .dropdown-detail { position: absolute; top: 0; right: 0; left: 0; opacity: 1; transform: translateX(100%); }
			.dropdown .dropdown-detail-title { margin: 0; font-size: 80% !important; }
				.dropdown .dropdown-detail .dropdown-detail-back { }
					.dropdown .dropdown-detail-back i { opacity: 0.6; font-size: 13px; }
						.dropdown .dropdown-detail-back i:before { vertical-align: 30%; }


	/* ••• Dropdown */

	.more { position: relative; }
		.has-more .more { opacity: 0; }
			.has-more:hover .more, .has-more .more.active, .touch .has-more .more { opacity: 1; }

		.more-icon-wrapper { height: 100%; display: flex; align-items: center; cursor: pointer !important; }
			.more-icon-wrapper:hover .more-icon { opacity: 0.9; }

			.header .more-icon { --icon-size: 15px; }

		.more-dropdown { margin-top: -6px; position: absolute; top: 100%; right: 9px; z-index: 100; text-align: left; }
			.more-dropdown .icon { display: inline-block; }


	/* App Dash Dropdown */
	.dropdown.dash-dropdown { --nipple-displacement: 14px; min-width: max-content; padding: 0; right: auto; left: 2px; background-color: var(--color-bg); color: var(--color-text); }
		.shift-to-left .dash-dropdown { right: -7px; left: auto; } /* Shifts dropdown to the left so it doesn't overflow the screen */

		.more-dash .more-icon { opacity: 0; }

		.dash-dropdown.nipple-top-left:after, .dash-dropdown.nipple-bottom-left:after { left: var(--nipple-displacement); }
			.shift-to-left .dash-dropdown.nipple-top-left:after { right: var(--nipple-displacement); left: auto; } /* shifts nipple to the right */



	/* Dash icons */
	.has-dash-icon:hover .dash-icon { opacity: 0.75; }
		.has-dash-icon .dash-icon-wrapper:hover .icon { opacity: 1; }

		.has-dash-icon .dash-icon-wrapper:hover:after { background: rgba(255,255,255,0.2); }
		.has-dash-icon .dash-icon-wrapper:hover:active:after { background: rgba(255,255,255,0.28) !important; }
		.has-dash-icon .dash-icon-wrapper:active:after { background: none; }



	/* Nipples */
	.nipple { --nipple-color: var(--color-bg); overflow: visible; }
	.nipple:after { height: 0; width: 0; position: absolute; display: block; opacity: 1; z-index: 3; border: 7px solid transparent; content: ''; overflow: visible; }
		.app-popup.focused .nipple:after { z-index: 5; }
		.nipple.dropdown:after { pointer-events: none; }
		.nipple.dropdown:not(.dash-dropdown):after { --nipple-color: var(--color-accent-highlight); }
		.nipple-top-left:after, .nipple-top-right:after { top: -14px; border-bottom-color: var(--nipple-color); }
		.nipple-bottom-left:after, .nipple-bottom-right:after { bottom: -14px; border-top-color: var(--nipple-color); }
		.nipple-right-left:after, .nipple-right-right:after { right: -14px; border-left-color: var(--nipple-color); }
		.nipple-left-left:after, .nipple-left-right:after { left: -14px; border-right-color: var(--nipple-color); }
		.nipple-top-left:after, .nipple-bottom-left:after { left: var(--nipple-displacement, 33px); }
		.nipple-top-right:after, .nipple-bottom-right:after { right: var(--nipple-displacement, 33px); }
		.nipple-right-left:after, .nipple-left-left:after { top: var(--nipple-displacement, 33px); }
		.nipple-right-right:after, .nipple-left-right:after { bottom: var(--nipple-displacement, 33px); }


	/* Notification */
	.notification { position: absolute; height: 0; bottom: 0; left: 0; }
		.notification.nipple-bottom-left:after { left: 15px; opacity: 1; }
		.notification .app { width: 26.5rem; padding: 0; right: auto; bottom: var(--app-edge-padding); display: flex; flex-direction: column; box-shadow: 0 4px 175px rgba(0 0 0 / 0.85); }
		.notification .app { --app-padding: 26px; }
			.notification .announcement:before { background: transparent; }
			.notification-app.has-big-icon { width: 520px; }

			.notification-icon-wrapper { padding: 0 16px 0 8px; display: none; align-items: center; }
				.has-big-icon .notification-icon-wrapper { display: flex; }

				.notification-icon { --size: 76px; height: var(--size); width: var(--size); opacity: 0.4; fill: var(--color-icon); }

			.notification-content { padding: var(--app-padding); display: flex; flex-direction: column; gap: 0.5rem; }

			.notification .message-row { padding-right: 23px; position: relative; }
				.notification-title { opacity: 0.9; font-size: 1rem; font-weight: 700; color: var(--color-brand); }
				.notification-description { font-size: 0.875rem; line-height: 1.5; }
				.notification .button-row { display: flex; flex-wrap: wrap; align-items: center; gap: 0.25rem; margin-top: -0.5rem; }
					.notification-button { --icon-size: 11px; white-space: nowrap; display: flex; align-items: center; gap: 0.3rem; margin-top: 0; }
						.notification-button-chevron { transform: rotate(-90deg); }
					.notification .button-text { padding: 10px; opacity: 0.6; background: none; cursor: pointer; font-size: 0.8125rem; margin-top: 0; }
						.notification .button-text:hover { opacity: 0.8; }

			.notification-gradient { position: absolute; inset: 0 0 auto; height: 0.25rem; background: var(--color-brand); }
				.notification-gradient::after { content: ''; position: absolute; inset: 0; background: linear-gradient(to right, rgba(255, 255, 255, 0.5), transparent); }

			.notification-hide { --icon-size: 0.5625rem; padding: calc(0.25rem + 0.64rem) 0.64rem 0.64rem; position: absolute; top: 0; right: 0; z-index: 1; display: inline-flex; flex-direction: column; align-items: center; justify-content: center; font-size: 14px; }
				.notification-hide.dark { filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.3)); }
					.notification-hide.dark .icon { opacity: 0.85; }
				.notification-hide:not(.dark) .icon { opacity: 0.5; }
				.notification-hide .icon-cancel { height: unset; }

			.notification-clip { height: 220px; margin-top: 0.25rem; display: flex; }

			.notification-image { margin-top: 0.25rem; }
				.notification-image img { width: 100%; object-fit: contain; }

/* Center Clock */

.center .time, .greeting, .intro, #login { margin: 0; padding: 0; font-weight: 400; line-height: 1; text-align: center; }
.center .time, .greeting { font-weight: 500; }

.center .clock { width: 100%; margin: 0 0; position: relative; }
	.clock .time { font: var(--font-clock); cursor: default; letter-spacing: -0.3125rem; }

	.clock .show { opacity: 1; animation: fadeout 4s var(--a-curve) 4s 1 normal; animation-fill-mode: forwards; }
		.clock .center-clock-upsell.show { animation: unset; } /* must be here or else the upsell will fade away */

	.clock .format { margin-left: 13px; position: absolute; bottom: 9%; opacity: 0; font-size: 150%; font-weight: 500; }

	.clock .more-toggle { margin: 25px; }
		.clock .more-icon { --icon-size: 20px; }
		.clock .more-toggle:after { --size: 36px; height: var(--size); width: var(--size); }

		.clock .more-dropdown { top: 46px; left: 19px; }

		.clock .shift-to-left .dash-dropdown.nipple-top-left:after { right: auto; left: 14px; }



/* Greetings & Mantras */
/* TODO: moved to scoped CSS */

.greeting .content, .intro, #login { font-size: var(--font-size-greeting); }

.center .greeting { line-height: normal; }
	.greeting.transition { transition: transform 0.5s ease, opacity 500ms ease; } /* For Balance Mode. Added opacity transition to accommodate for override of app-container transition */


			.greeting .side { }
				.greeting .more { }
					.greeting:hover .more, .greeting .more.active { opacity: 1; }

					.greeting .more-toggle { margin-top: 9px; margin-left: 12px; }
						.greeting .more-toggle:after { --size: 30px; height: var(--size); width: var(--size); }
						.greeting .more-icon { --icon-size: 18px; }

					.greeting .dropdown { margin-top: 7px; margin-left: 4px; }
						.greeting .icon-skip { width: 14px; }

				.greeting .unpin, .greeting .mantra-pin.active .pin { display: none; }
					.greeting .mantra-pin.active .unpin { display: inline-block; }

/* Metric-Weather common */

.metric-item { position: relative; display: inline-block; border-radius: 2px; cursor: pointer; text-align: right; vertical-align: top; }
	.metric-data { width: 100%; flex: 1 1 auto; }
		.metric-stat-row { display: flex; justify-content: space-between; }
			.metric-stat { position: relative; font-size: 1.625rem; font-weight: 400; }
				.metric-stat-unit { padding-left: 1px; opacity: 0.9; font-size: 1.375rem; }
				.metric-stat-unit.before { padding-left: 0; }
		.metric-label { margin: 0; padding: 0; display: inline-flex; align-items: baseline; justify-content: flex-end; font-size: 0.8125rem; line-height: 1.2; overflow-wrap: break-word; transition: opacity 0.5s var(--a-curve); vertical-align: top; }
		/* ^ Do not set a max-width or width on metric label. Width is determined by the character per line count in instance.js */
			.metric-label-name { opacity: 0.7; font-weight: 400; }
		.metric-label-with-sub { margin: 0; padding: 0 0 3px; font-size: 0.8rem; overflow-wrap: break-word; transition: opacity 0.5s var(--a-curve); vertical-align: top; word-break: break-word; }
			 .label { display: block; opacity: 0.85; font-weight: bold; }
			 .metric-label-with-sub .sublabel{ display: block; opacity: 0.85; }

.app-dash .metric-stat-row { display: block; }
	.app-dash .metric-stat { margin-right: -1px; margin-bottom: 1px; white-space: nowrap; }
	.app-dash .metric-label-name { opacity: 0.85; }
	.app-dash .list-controls { display: none; }


/* Generic Stats */

.generic-stats { order: 2; }
	.generic-stats .metric-stat { display: flex; justify-content: flex-end; } /* preserves vertical alignment of metric label relative to other metrics' */


/* Icons */

@font-face { font-family: 'icons'; font-weight: normal; src: url('../font/icons.woff2?v=0.94.0') format('woff2'); }
[class^="icon-"]:before, [class*=" icon-"]:before { width: 1em; display: inline-block; font-family: "icons"; font-variant: normal; font-weight: normal; text-align: center; text-decoration: inherit; text-transform: none; }

.icon-default:before { padding-right: 0px; content: ''; }

.icon-search:before { content: '\e800'; }
.icon-th:before { content: '\e801'; }
.icon-check:before { content: '\e802'; }
.icon-cog:before { content: '\e803'; }
.icon-angle-right:before { width: auto; content: '\e805'; -webkit-font-smoothing: antialiased; }
.icon-angle-up:before { content: '\e806'; }
.icon-angle-down:before { content: '\e807'; }
.icon-ellipsis:before { content: '\e808'; -webkit-font-smoothing: antialiased; }

.icon-left:before { content: '\e812'; }
.icon-right:before { content: '\e812'; transform: rotate(180deg); }
.icon-folder:before { content: '\e813'; }
.icon-flight:before { content: '\e813'; }
.icon-loop:before { content: '\e814'; -webkit-font-smoothing: antialiased; }
.icon-edit:before { content: '\e80B'; }
.icon-plus:before { content: '\e80C'; -webkit-font-smoothing: antialiased; }
.icon-help:before { content: '\e80D'; -webkit-font-smoothing: antialiased; }


/* Settings */

.settings .toggle { height: var(--top-and-bottom-row-min-height); padding-right: 12px; padding-left: var(--dash-side-margin); opacity: 0.5; line-height: 67px; transition: opacity 0.15s ease, filter 0.15s ease; }
	.settings .toggle:hover { opacity: 0.8; }

	.settings.has-message .toggle { opacity: 0.7; }
	.settings.show-fade-in .toggle { opacity: 1; /* filter: drop-shadow(0 1px 10px #000); there doesn't appear to be enough performance for this */ }

	.settings .toggle-icon { height: 18px; width: 18px; transition: transform var(--a-fast) linear; }
		.settings.show-fade-in .toggle-icon { transform: rotate(38deg) scale(1.1); }
		.settings.show-fade-in.infinispin .toggle-icon { animation: spin 1.61s linear infinite; transform: none; }

		.touch .settings .touch-overlay { z-index: -1; }

.settings .nipple-bottom-left:after { left: 22px; }
.settings-app { --app-height: 580px; --sidebar-width: 200px; height: var(--app-height); width: 720px; max-width: calc(100vw - var(--app-edge-padding) * 2); padding: 0; }

	.engine--webkit .settings .toggle { opacity: 0.8; }
		.engine--webkit .show-fade-in .toggle { opacity: 1; }
		.engine--webkit .show-fade-in .toggle-icon { transform: none; }

/* Notes */

.notes .nipple-bottom-right:after { right: 31px; }


/* Search */

.search-wrapper { --search-font-size: 0.8125rem; min-width: 0; margin-right: 12px; flex: 1 1 auto; display: flex; align-items: center; justify-content: flex-end; }

	.search-wrapper .input-wrapper { position: relative; }

		.search-wrapper .search-input { padding: 6px 27px 7px 30px; background-color: var(--color-stop-1); border: none; border-radius: 50px; font-size: var(--search-font-size); transition: background 0.1s ease; }

			.search-wrapper .search-input:hover { background-color: var(--color-stop-1); }

			.search-wrapper .search-input:focus { background-color: var(--color-stop-1); }

			.search-wrapper .search-input::placeholder { opacity: 0.45; }

		.search-wrapper .icon-search:before { position: absolute; top: 50%; left: 11px; opacity: 0.5; font-size: var(--search-font-size); pointer-events: none; transform: translateY(-50%); }
			.search-wrapper .input-wrapper:hover .icon-search:before { opacity: 0.7; }
			.search-wrapper.active .icon-search:before { opacity: 0.8; }

		.search-wrapper .icon-clear-wrapper { position: absolute; top: 0; bottom: 0; right: 0; z-index: 1; display: flex; align-items: center; cursor: pointer; }
			.search-wrapper .icon-clear { --icon-size: 8px; padding: 0 10px; opacity: 0.4; box-sizing: content-box; cursor: pointer; }
				.search-wrapper .icon-clear-wrapper:hover .icon-clear { opacity: 0.6; }


/* Animations */

.fadein { animation: fadein 0.3s ease-out 0s forwards; }
	.fadein-slow { animation: fadein 2s ease-out 0s forwards; }

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

.softpulse { animation: updatepulse 1s var(--a-curve) 0.5s 1 normal; }
.pulse, .greeting .pulse  { animation: pulse 1s var(--a-curve) 0s 1 normal; }
.pulsetext { animation: pulsetext 2.8s linear infinite; }
.pulseicon { animation: pulsetext 800ms; }

@keyframes pulsetext {
	0%, 100% { opacity: 1; }
	50% { opacity: 0.5; }
}

@keyframes updatepulse {
	0% { background: rgba(255,255,255,0); }
	5% { background: rgba(255,255,255,0.6); }
	100% { background: rgba(0,0,0,0.3); }
}

@keyframes pulse {
	0% { background: var(--color-stop-4); }
	100% { background: transparent; }
}

@keyframes fadeout { from { opacity: 1; } to { opacity: 0; } }

@keyframes spin { 100% { transform: rotate(360deg); } }

.loading-icon { height: 14px; width: 14px; margin-right: 8px; display: inline-block; animation: loading-icon 1.4s var(--a-curve) infinite; background: none; border: 2px solid var(--color-text); border-radius: 100%; vertical-align: -10%; }

@keyframes loading-icon {
	0% { transform: scale(0); }
	15% { opacity: 1; }
	100%  { opacity: 0; transform: scale(1.5); }
}


@keyframes refresh {
	from { transform: rotate(0deg); }
	50% { transform: rotate(180deg); }
	to { transform: rotate(360deg); }
}

.slide-down-fade-enter-active, .slide-down-fade-leave-active { transition: transform 0.2s ease, opacity, 0.2s ease; }
.slide-down-fade-enter, .slide-down-fade-leave-to { opacity: 0; transform: translateY(-3px); }

.fade-enter-active, .fade-leave-active { transition: opacity 0.5s var(--a-curve); }
.fade-enter, .fade-leave-to { opacity: 0; }

.fade-fast-enter-active, .fade-fast-leave-active { transition: opacity 0.2s var(--a-curve); }
.fade-fast-enter, .fade-fast-leave-to { opacity: 0; }



/* Firefox Specific */

.engine--gecko { scrollbar-color: var(--color-stop-3) transparent; scrollbar-width: thin; }

.engine--gecko [contenteditable='true']:before { content: "\feff "; } /* This fixes height issue in Firefox with contenteditable elements that have no text */
	.engine--gecko [contenteditable='true'].no-contenteditable-fix:before { content: none; } /* The above fix doesn't work on Windows Firefox for the displayname, so disable it in this case */

.engine--gecko select:-moz-focusring { color: transparent; text-shadow: 0 0 0 var(--color-text); } /* Fix for select boxes? */
	.engine--gecko .app option { color: #fff; } /* Mac Firefox fix */

.engine--gecko .settings-view:after { height: 30px; display: block; content: ""; } /* Fix for bottoms of divs not having proper padding */


/* Safari Specific */
.engine--webkit .add-shadow:before { -webkit-transform: translate3d(0, 0, 0); } /* Fix flicker when hovering over */

.engine--webkit .settings-app { -webkit-transform: translate3d(0, 0, 0); } /* Fix dark area flicker at top of Settings */

/* Mobile */


/* Responsive */

@media screen and (max-height: 800px) {
	:root { --font-size-greeting: 2.5rem; }
	.clock .time { font-size: 9rem; }
	.center-below { font-size: 0.85rem; }
	.center-below .focus-row { font-size: 2.15rem !important; }
}

@media screen and (max-height: 700px) {
	html { font-size: 90%; }
}

@media screen and (max-height: 600px) {
	:root { --font-size-greeting: 2.25rem; }
	.clock .time { font-size: 8rem; }
	.center-below { font-size: 0.75rem; }
	.center-below .focus-row { font-size: 2rem !important; }
}

@media screen and (max-height: 500px) {
	.center .clock { display: none !important; }
}


/* Mobile */

/* #.touch class, .u--touch-hide, & .u--touch-only
	breakpoints can be used for responsive design, but anything that shows / hides elements or substantially changes the way the UI works to account for touch screens should make use of this class. This is because some logic that shows and hides ui elements is controlled by Javascript based on the isTouchDevice util. This also controls the mobile class and that way everything will be in sync.

	Examples of touch screen concerns:
	- Always showing all controls that would only be visible on hover otherwise
	- Hiding dropdown ellipsis because clickable areas are entire app region
	- Disabling hover interactions on bg info and quote because clicking should open toast menu.
 */

.touch .u--touch-hide { display: none !important; }
.touch .u--touch-only { display: block !important; }
.touch .u--touch-only-flex { display: flex !important; }

.touch .app:not(.popup, .reset-app-styles), .touch .app-wrapper:not(.popup) { transition: background 0.15s ease, opacity 0.15s ease; } /* Safari iOS fix, doesn't like transition all https://stackoverflow.com/questions/21767037/css-transitions-not-working-in-safari */

.touch-overlay { display: none; }
	.touch .touch-overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; display: block; background: black; opacity: var(--opacity-stop-4); }

.mobile-close { display: none!important; }
	.touch .mobile-close { margin-left: 14px; display: flex!important; }
		.mobile-close .icon-wrapper:after { --icon-wrapper-size: 31px !important; }
			.mobile-close .icon { --size: 9px; height: var(--size); width: var(--size); }

/* Tablet */
@media screen and (max-width: 768px) {
	:root { --app-width: calc(100vw - 12px); }

	.new-upsell { width: var(--app-width) !important; }
}


/* Phone */
@media screen and (max-width: 450px) {
	:root { --app-max-height: 90%; 	--app-offset: 4px; --page-margin: 20px; --border-radius: 10px; --app-translate-amount: 102%; --font-size-greeting: clamp(10px, 7vw, 26px); --app-edge-padding: 4px; }

	.u--mobile-hide { display: none !important; } /* For hiding things on mobile, e.g. text or something not appropriate for the smaller screen */

	.u--mobile-only { display: block !important; }
	.u--mobile-only-flex { display: flex !important; }
	.u--mobile-only-inline { display: inline !important; }

	html { font-size: 100%; }

	.background-overlay { background-color: hsla(0 0% 0% / 0.25); background-image: none !important; }

	.toggle { padding: 0 9px; font-size: 1rem; font-weight: 600; }

	.apps { overflow: hidden; }

		.top-row { }
			.top-left { }
				.team-logo .team-app { width: auto !important; max-width: var(--app-width); left: var(--app-offset); }

			.top-right { }
				.app-dash .metric-stat { font-size: 22px; }

			.weather .app-dash { padding-top: 16px; }
				.weather .metric-stat .icon-weather { margin-right: 4px !important; font-size: 22px; }

		.center-above { display: none; }

		.center { flex-basis: 50%; justify-content: flex-start; }
			.center-container { padding-top: 10vh; }
			.clock .time { font-size: 60px; font-weight: 400; letter-spacing: 0; }
			.greeting .content { padding-top: 4px; font-weight: 400; line-height: 1.2; }

		.center-below { }

		.app-wrapper { transform: none !important; /* to get the show/hide animation with position: fixed on .app-wrapper, we need to do the translation on the .app element */ }
			.app:not(.dropdown, .reset-app-styles) { height: auto; position: fixed !important; border-radius: var(--border-radius); }
				.app:not(.dropdown, .reset-app-styles, .popup, .toast, .calculates-own-max-height) { max-height: var(--app-max-height) !important; }
				.nipple:after { display: none; }
				.dash-dropdown { width: auto !important; }

				/* Show/hide app popups */
				.show { opacity: 1; }
					.show-fade-in .app:not(.popup):not(.toast) { transform: none !important; }

				.top-row .app:not(.popup):not(.toast) { top: var(--app-offset) !important; }
					.top-row .app:not(.popup):not(.toast) { transform: translateY(calc(var(--app-translate-amount) * -1)); }
				.bottom-row .app:not(.popup):not(.toast) { bottom: var(--app-offset) !important; }
					.bottom-row .app:not(.popup):not(.toast) { transform: translateY(var(--app-translate-amount)); }

				.top-left .app:not(.popup), .bottom-left .app:not(.popup) { left: var(--app-edge-padding); }
				.top-right .app:not(.popup), .bottom-right .app:not(.popup) { right: var(--app-edge-padding); }

		.new-upsell .demo { display: none !important; }


		/* Widget/Apps */
		.app-dash-icon .icon, .app-dash-icon svg { --icon-size: 20px; }

		.weather-app { }

		/*.todo-app { width: var(--app-width) !important; display: flex !important; flex-direction: column; }*/
			/* .new-todo-footer { z-index: 2; } <- was showing over top todo list chooser, keeping just in case removing this now breaks something else */


	/* Team — To Review */
	.app-container.apps { display: none; }
	.topics { display: none; }

	/* Notification */
	.notification-app { box-sizing: border-box; }
		.has-big-icon .notification-icon-wrapper { display: none; }
		.notification-hide:after { --icon-wrapper-size: 31px; }
}

@media screen and (max-height: 450px) and (orientation: landscape) {
	/* Horizontal orientation enables admire mode */
	/* Transition is disabled alongside the visibility to avoid having elements remain visible for their transition duration after enabling admire mode */
	.touch .app-container:not(.photo-info) *, .touch .background-overlay * { transition: none !important; visibility: hidden !important; }
}
